
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
}

.hero h1 {
 font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 9px;
  line-height: 1.1;
  text-transform: capitalize;
  font-size: 10rem;
  margin: 0;
  text-shadow:
    0 2px 4px rgba(0,0,0,0.25),
    0 8px 20px rgba(0,0,0,0.35);
}


.subtitle {
  font-family: 'Great Vibes', cursive;
  font-size: 1.2rem;
  max-width: 600px;
  color: #b5b5b5;
    margin-top: -10px;       

}
  .cta {
      margin-top: 40px;
    }

    .cta button {
      padding: 15px 30px;
      font-size: 1rem;
      border: none;
      background: #8ab4f8;
      color: #0f0f0f;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 600;
    }