.premium {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b0b0b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #eaeaea;
}


.premium h2{
    color: aliceblue;
    font-family: 'Playfair Display', serif;
}