@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.779),rgba(20, 38, 81, 0.689))
    
}

.scroll-container {
  position: relative;
  z-index: 1;
}
